.form,
.form__container {
    width: 100%;
    height: 100%;
    padding-top: 10px;
}


@mixin inputContainerInForm ($formHeight, $formMarginTop) {
    width: 90%;
    height: $formHeight;
    margin: $formMarginTop auto;
    outline: none !important;
    border: none !important;
}

.input__container {
    @include inputContainerInForm(50px, 10px);
    display: flex;
    background-color: white;
    border-radius: 5px;
    img{
        width: 36px;
        height: 36px;
        background-color: inherit;
        margin: 7px;
    }
}

.input {
    width: 80%;
    height: 100%;
    letter-spacing: 1px;
    font-size: 15px;
    border: none;
    display: block;
    margin: 0 auto;
    border-radius: 5px;
}

.input:focus {
    border: 1px solid beige;
    outline: none
}

.rememberMeCheckbox__container {
    @include inputContainerInForm(20px, 10px);
    margin-bottom: 15px;
}

.rememberMeCheckbox__container>div {
    width: 55%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.loginButton__container {
    @include inputContainerInForm(35px, 10px);
    text-align: center;
}

.loginButton {
    width: 75%;
    height: 100%;
    display: block;
    margin: 30px auto;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    letter-spacing: 1px
}


.register {
    @include inputContainerInForm(25px, 30px);
    text-align: center;
}

.register__link {
    text-decoration: none;
    color: dimgray;

    &:hover {
        color: white;
        cursor: pointer;
        text-decoration: underline;
    }
}

.register__link:hover {
    border-bottom: 1px solid rgb(12, 10, 7);
}

.input__error {
    @include inputContainerInForm(25px, 10px);
    color: rgb(175, 83, 83);

    span {
        width: 90%;
        height: 100%;
        letter-spacing: 1px;
        font-size: 13px;
        border: none;
        display: block;
        margin: 0 auto;
        border-radius: 5px;
        text-align: center;
    }
}