<div class="main">
  <main class="chat">
    <section class="messages">
      <ul>
        <li class="messageConverser">
          <img src="/assets/images/user.png" alt="img" class="userImg">
          <span>Rob: </span>
          <span>i need more bullets</span>
          <img src="/assets/images/delete.png" alt="img" class="deleteMsg">
        </li>
      </ul>
    </section>
    <section class="sendMessage">
            <textarea [(ngModel)]="writtenMsg" name="" id="" cols="30" rows="10" maxlength="4000" autofocus placeholder="Type something..."
                      required></textarea>
      <form class="sendImgBtn" action="">
        <label for="myFile" class="custom-file-upload">
          <img src="/assets/images/image.png" alt="Img">
        </label>
        <input type="file" id="myFile" name="filename" style="display:none;">
      </form>
      <button class="send" (click)="sendMsg()">
        <img src="/assets/images/send.png" alt="Send">
      </button>
    </section>
  </main>
</div>
