@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200;300;400;500;600;700&display=swap');

body {
    margin: 0 !important;
    background-color: #A2D2FF;
    height: 100%;
    width: 100%;
}

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-family: 'Noto Serif JP', serif;
}